.card{
    width: 100%;
    max-width: 800px;
    display: flex;
    margin: 20px auto;
    background-color: $background-light;
    
    padding: 20px 0px;
    flex-wrap: wrap;
    img{
        width: 30%;
        height: 100%;
        margin-left: 10px;
    }
    &__text{
        margin: 0 auto;
        h3{
            text-align: center;
            margin-bottom: 10px;
        }
    }
}
.backgroundAlt{
    background-color: $background-lightAlt;
}