.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    margin-bottom: 20px;
    .required{
        color: rgb(192, 6, 6);
        font-style: italic;
    }
    .formGroup{
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        @include medium-size{
            margin: 0 10px;
        }
    }
    .name, .adress, .contact{
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        @include medium-size{
            flex-direction: row;
            margin: 20px 0;
        }
    }
    .formGroup input{
        border: 1px solid rgba(0, 0, 0, 0.562);
        &:focus{
            border-color: $secondary-color;
        }
    }
    #buy{
        margin-top: 10px;
    }
}