.panier{
    font-weight: bold;
    margin: 20px 0;
    h1{
        text-align: center;
    }
    .subTextCart{
        text-align: center;
        margin-top: 5px;
    }
    button{
        margin: 20px auto 0 auto;
    }
}