$primary-color: #8f5bfe;
$secondary-color: #cf7e48;
$tertiary-color: #ac6bac;
$background-light: lighten($color: $secondary-color, $amount: 37%);
$background-lightAlt: lighten($color: $tertiary-color, $amount: 37%);
$shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);


$title-font-family: 'Merienda One', sans-serif;
$text-font-family: 'Fondamento', sans-serif;

$breakpoints: (
    small: 320px,
    medium: 768px,
    large: 1024px,
    x-large: 1440px,
    xx-large: 2560px
);